node_modules
test
coverage
.fork
.github
.husky
.vscode
.nyc_output
.vsls.json
*.test.js
tsconfig*.json
jsconfig.json
eslint.config.js
.prettierrc
.prettierignore
.markdownlint.json
.editorconfig
.gitattributes
prepare-release.js
PULL_REQUEST_TEMPLATE.md
